<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h4> UNIVERSIDAD TECNOLOGICA DE TORREON </h4>
        Asignatura: <br>
        Aplicaciones Web para I4.0<br>
        Maestro: <br>
        Igmar Salazar Rodriguez<br>
        Equipo #3 (?) <br>
        Integrantes:<br>
        Miguel Angel Castro Vaquera 19170023<br>
        Victor Miguel Basurto Juarez 20170045<br>
        Pedro Arturo de Santiago Mijares 19170057<br>
        Maria Fernanda Murillo Candela 19170165<br>
      </div>
      <div class="col-4">
        <img src="../../../assets/UTTcoyotemedio.png" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
  </div>
</footer>
