<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-text">Name: {{usuario.name}}</h3> <br>
          <h3 class="card-text">Username: {{usuario.username}}</h3> <br>
          <h3 class="card-text">Email: {{usuario.email}}</h3> <br>
          <div class="d-grid gap-2">
            <a class="btn btn-danger" >Eliminar</a>
            <a class="btn btn-success" >Actualizar</a>
          </div>
          <br>
          <a routerLink="lista" class="btn btn-dark" >Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>

